<div class="container mt-5">
  <h2>Modifier la chanson</h2>

  <form (ngSubmit)="updateSong()">
    <div class="form-group">
      <label>Titre :</label>
      <input type="text" class="form-control" [(ngModel)]="song.title" name="title" required />
    </div>

    <div class="form-group">
      <label>Artiste :</label>
      <input type="text" class="form-control" [(ngModel)]="song.artist" name="artist" required />
    </div>

    <div class="form-group">
      <label>Genre :</label>
      <input type="text" class="form-control" [(ngModel)]="song.genre" name="genre" required />
    </div>

    <div class="form-group">
      <label>Durée (en minutes) :</label>
      <input type="number" class="form-control" [(ngModel)]="song.duration" name="duration" required />
    </div>

    <button type="submit" class="btn btn-success mt-3">Mettre à jour</button>
  </form>
</div>
