<div class="container mt-5">
  <h2 class="mb-4">Liste des chansons</h2>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Titre</th>
        <th>Artiste</th>
        <th>Genre</th>
        <th>Durée (min)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{ song.title }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ song.genre }}</td>
        <td>{{ song.duration }}</td>
        <td>
  <button class="btn btn-danger btn-sm" (click)="deleteSong(song._id!)">
    Supprimer
  </button>
  <button class="btn btn-primary btn-sm" [routerLink]="['/edit', song._id]">
    Modifier
  </button>
</td>

      </tr>
    </tbody>
  </table>
</div>
